<!DOCTYPE html>
<html>
  <head>
    <title>Newflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <script type="text/javascript">
        window.images = {
          logo: '<%= image_url('newflix_logo.png')%>',
          welcome: '<%= image_url('welcome_background.jpg')%>',
          spacejam: '<%= image_url('spacejam.jpg')%>',
          icon: '<%= image_url('account-icon.png')%>'
        }
      </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/5b5689ab39.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>



  <body>
    <%= yield %>
  </body>
</html>