<!DOCTYPE html>
<html>
  <head>
    <title>NetflixClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <script type="text/javascript">
    window.logo = {
      logo: '<%= image_url('newflix_logo.png')%>'
    }
  </script>

  <body>
    <%= yield %>
  </body>
</html>